# Created by Vercel CLI
GRAPHQL_API_TOKEN=""
NEXT_PUBLIC_EMAIL_ADDRESS=""
NEXT_PUBLIC_GITHUB_PROFILE=""
NEXT_PUBLIC_LINKEDIN_PROFILE=""
NX_DAEMON=""
STORYBLOK_API_TOKEN=""
STORYBLOK_SPACE_ID=""
TURBO_REMOTE_ONLY=""
TURBO_RUN_SUMMARY=""
VERCEL=""
VERCEL_ENV=""
VERCEL_GIT_COMMIT_AUTHOR_LOGIN=""
VERCEL_GIT_COMMIT_AUTHOR_NAME=""
VERCEL_GIT_COMMIT_MESSAGE=""
VERCEL_GIT_COMMIT_REF=""
VERCEL_GIT_COMMIT_SHA=""
VERCEL_GIT_PREVIOUS_SHA=""
VERCEL_GIT_PROVIDER=""
VERCEL_GIT_PULL_REQUEST_ID=""
VERCEL_GIT_REPO_ID=""
VERCEL_GIT_REPO_OWNER=""
VERCEL_GIT_REPO_SLUG=""
VERCEL_URL=""
