@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-base: 1, 1, 1;
    --color-inverted: 255, 255, 255;
    --color-muted: 173, 173, 173;
    --color-brand-100: 253, 235, 235;
    --color-brand-200: 240, 181, 193;
    --color-brand-300: 211, 96, 127;
    --color-highlight: 243, 204, 77;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-light;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
